@import url("https://fonts.googleapis.com/css2?family=Acme&family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  line-height: 28px;
}
body {
  background-color: rgb(235, 240, 240);
}
.heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  padding-top: 30px;
}
#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.card {
  border: 1.3px solid rgb(221, 215, 215);
  text-align: center;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 0.7rem;
}
.card:hover {
  opacity: 0.7;
  /* transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5); */
}

.card img {
  max-height: 260px;
  padding: 15px;
  max-width: 300px;
}
.container {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header {
  background-color: white;
  padding: 4px 0px;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: rgb(62, 64, 65);
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .title,
.description {
  white-space: nowrap;
} */
.price,
.title {
  color: #4b5563;
  font-weight: 500;
}
.category,
.title,
.price {
  font-size: 16px;
}
.card-content {
  padding: 10px !important;
}
.category,
.title,
.price,
.description {
  text-align: left;
  margin-left: 0.4em;
}
.img-container {
  background-color: #e7e6e6;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category {
  color: #5a6676;
  font-style: italic;
}
.main {
  display: flex;
  flex-direction: column;
}
input {
  border: 1px solid rgb(211, 205, 205);
  align-self: center;
  margin-bottom: 1.5rem;
  padding: 4px 16px;
  height: 39px;
  width: 300px;
  border-radius: 5px;
}
::placeholder {
  font-size: 15px;
}
input:focus {
  outline: none;
  border-width: 3px;
  border-color: #635ce0;
  border-width: 2px;
}

.sub {
  display: flex;
  padding: 10px;
  justify-content: center;
}
select {
  border-radius: 6px;
  border-width: 2px;
  align-self: center;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  padding: 4px 16px;

  height: 39px;
  width: 200px;
  border: 1px solid rgb(211, 205, 205);
}
.btn {
  border-radius: 5px;
  background-color: #4f46e5;
  color: white;
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  height: 36px;
  width: 90px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
  font-size: 16px;
  color: rgb(149, 142, 142);
  margin: 5px;
  padding: 7px;
  cursor: pointer;
}
.sign {
  background-color: #30a2bc;
  color: white;
  float: right;
  margin-right: 0px;
  margin-left: 6px;
  display: block;
  text-align: center;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  height: 50px;
  padding-top: 15px;
  opacity: 0.8;
}

.sign:hover {
  opacity: 1;
}

.navi {
  flex-direction: row;
  margin: 10px;
}
hr {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  height: 1px;
  background-color: rgb(232, 227, 227);
  border: none;
}
#profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-content {
  right: 19%;
  bottom: 82%;
  display: none;
  position: absolute;
  background-color: white !important;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  border: 1px solid rgb(221, 218, 218);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(245, 244, 244);
  color: black;
}

.show {
  display: block;
  opacity: 1;
  z-index: 11;
}
.product-container {
  max-width: 1500px;
  margin: auto;
}
.dropdown1 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.spinnerContainer{
  display: flex;
  justify-content: center;
  align-items:center;
}
@media screen and (max-width: 600px) {
  body {
    margin: 0 auto;
    padding: 0px;
  }
  .sub {
    display: flex;
    flex-direction: column !important;
  }

  #myInputm .btn {
    margin-bottom: 5px;
    height: 30px;
  }

  .heading {
    font-size: 1.5rem;
  }
}
@media (min-width: 601px) and (max-width: 950px) {
  body {
    margin: 0 auto;
    padding: 0px;
  }
  .sub {
    display: flex;
    flex-direction: column !important;
  }

  .heading {
    font-size: 1.5rem;
  }
}
@media (min-width: 951px) and (max-width: 1250px) {
  #cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
