* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 114em;
}
.card {
  width: 23%;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  height: auto;
}

.card-btn {
  width: 60%;
  padding: 1rem;
  font-size: 2rem;
  border: none;
  color: #3363ff;
  border-radius: 0.4rem;
}

.grid-item {
  border-radius: 0.4rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card img {
  width: 70%;
  height: 200px;
}
.title,
.category,
.price {
  font-weight: bold;
  margin: 1em;

  font-size: 1.2rem;
}
.title {
  font-size: 1.5rem;
}
.description {
  color: rgb(116, 113, 113);
}
.price {
  color: rgb(68, 96, 96);
}
.main {
  display: flex;
  flex-direction: column;
}
input {
  border-radius: 50px;
  border-color: rgb(67, 68, 68);
  font-size: 1.3rem;
  align-self: center;
  margin-bottom: 3.5rem;
  padding: 4px;
  height: 50px;
  width: auto;
}
.sub {
  display: flex;
  justify-content: center;
}
select {
  border-radius: 30px;
  border-color: cornflowerblue;
  border-width: 2px;
  align-self: center;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  padding: 4px;
  height: 30px;
  width: auto;
}
.btn {
  border-radius: 15px;
  background-color: #0ab1ce;
  color: white;
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 3.5rem;
  margin-left: 1rem;
  padding: 9px;
  height: 37px;
  width: auto;
  border: none;
  cursor: pointer;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
}
.pagination li {
  display: inline-block;
  margin: 5px;
}
.current-page {
  background-color: #ccc;
  width: 45px;
  height: 45px;
  padding-top: 13px;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  background: #0ab1ce;
}
.sign {
  background-color: #30a2bc;
  color: white;
  float: right;
  margin-right: 0px;
  margin-left: 6px;

  display: block;
  text-align: center;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  width: 90px;
  height: 50px;
  padding-top: 15px;
  opacity: 0.8;
}

.sign:hover {
  opacity: 1;
}

.navi {
  flex-direction: row;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0 auto;
    padding: 0px;
  }
  .sub {
    display: flex;
    flex-direction: column;
  }
  #cards {
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
  .card {
    align-self: center;
    color: white;
    width: 90%;
    text-align: center;
    padding: 1.5rem;
  }
}
